.form-div{
     padding: 20px 20px;
}
.content{
     padding: 20px 20px;
}

#myBox{
     border: 2px solid rgb(142, 142, 142);
}

.btn-primary{
     margin-left: 10px;
}
.btn-danger{
     margin-left: 10px;
}
.btn-success{
     margin-left: 10px;
}
.btn-secondary{
     margin-left: 10px;
}
.btn-warning{
     margin-left: 10px;
}

.btn-dark{
     margin-right: 10px;
     font-size: 14px;
}

.App{
     min-height: 100vh;
     position: relative;
}

#btn{
     position: fixed;
     left: 25%;
     z-index: 2;
     top: 1.4%;
}
.dark{
     background-color: rgb(41, 43, 46);
     color: white;
     outline: 0;
     border: 0;
     border-radius: 8px;
     text-align: center;
     padding: 5px;
     width: 100px;
     height: 35px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.primary{
     background-color: rgb(255, 255, 255);
     border: 2px solid rgb(17, 163, 149);
     color: rgb(0, 0, 0);
     outline: 0;
     border-radius: 8px;
     text-align: center;
     padding: 5px;
     width: 100px;
     height: 35px;
     display: flex;
     justify-content: center;
     align-items: center;
}

@media (max-width: 600px) {
     .buttons-div{
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
     }
     .buttons-div button{
          width: 70%;
          height: 50px;
     }
     .navbar-toggler-icon{
          display: none;
     }

     .navbar-toggler{
          display: none;
     }
     #btn{
          position: fixed;
          left: 70%;
          z-index: 2;
          top: 1.4%;
     }
}
